.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 100;
	&.no-transparency {
		background-color: rgba(25, 28, 38, 0.5);
		backdrop-filter: blur(4px);
	}
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 71px;
}

.header-nav {
	margin-right: auto;
}

.header-phone {
	margin-right: 40px;
}

.header-link,
.header-phone {
	padding-top: 52px;
	padding-bottom: 52px;
	font-size: 12px;
	font-weight: 600;
	line-height: calc(16 / 12);
	letter-spacing: 0.1em;
	color: #fff;
}

.header-list {
	display: flex;
	gap: 40px;
}

.header-link:hover,
.header-link:focus,
.header-phone:hover,
.header-phone:focus {
	color: $text-color-active;
}

.header-link-current {
	color: $text-color-active;
}
