.hero {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	//background-color: $bg-dark-color;
	background-image: url("../../images/hero/slider-img-3.jpg");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

.hero-main {
	font-family: $text-secondary-font;
	margin-bottom: 20px;
	font-style: normal;
	font-size: 72px;
	line-height: calc(85 / 72);
	letter-spacing: 0.05em;
	color: #ffffff;
}

.hero-desc {
	width: 360px;

	font-family: $text-main-font;
	font-size: 18px;

	line-height: calc(30 / 18);
	letter-spacing: 0.02em;
	color: $price-color-text;
}

.hero-link {
	font-size: 11px;
	font-weight: 600;
	line-height: calc(15 / 11);
	letter-spacing: 0.2em;
}
.hero-link:hover,
.hero-link:focus {
	color: $text-color-active;
}

.hero-link-active {
	color: $text-color-active;
}

.hero-container {
	display: flex;
}

.hero-side-left {
	display: flex;
	align-items: flex-end;
	flex-basis: 100px;
}
.hero-side-right {
	position: relative;
	flex-grow: 1;
	padding-left: 100px;
	padding-top: 272px;
	padding-bottom: 208px;
}
