.contacts {
	max-width: 1600px;
	margin: 0 auto;
	background-color: $bg-dark-color;
	background-image: url("../../images/contacts/bg-img.png");
	background-repeat: no-repeat;
	background-position: top 0 left calc(50% + 393px);
	//background-size: cover;
}

.contacts-container {
	display: flex;
}

.contacts-form {
	flex-basis: 50%;
	padding-right: 30px;
}

.contacts-group {
	flex-basis: 50%;
	padding: 0px 100px;
}

.contacts-adress {
	margin-bottom: 72px;
	font-style: normal;
}

.contacts-link {
	display: flex;
	font-size: 18px;
	line-height: calc(30 / 18);
	letter-spacing: 0.02em;
	color: $price-color-text;
	&:hover,
	&:active {
		color: $text-color-active;
	}
}

.contacts-link::before {
	content: "";
	background: url("./../../images/contacts/map-pin.png");
	width: 20px;
	height: 20px;
	display: inline-block;
}

.contacts-list li:first-child .contacts-link {
	font-weight: 700;
}

.contacts-list li:last-child .contacts-link {
	text-decoration: underline;
}

.contacts-time {
	font-size: 18px;
	line-height: calc(30 / 18);
	letter-spacing: 0.02em;
	color: $price-color-text;
}

.contacts-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 16px;
}

.contact-icon {
	fill: #9da4bd;
}
