.section-title {
	font-family: $text-secondary-font;
	font-weight: 700;
	font-size: 42px;
	line-height: calc(49 / 42);
	letter-spacing: 0.05em;
}

.section-title-mode-light {
	margin-bottom: 20px;
	color: $text-color;
}

.section-title-mode-dark {
	margin-bottom: 44px;
	color: #fff;
}
