.subtitle {
	margin-bottom: 20px;

	font-family: $text-main-font;
	font-weight: 400;
	font-size: 18px;
	line-height: calc(30 / 18);
	letter-spacing: 0.02em;
	color: $desc-text;
}

// .section-title-mode-light {
// 	color: $text-color;
// }

// .section-title-mode-dark {
// 	color: #fff;
// }
